.contacts
	a.contact(href='tel:+36666666')
		i.fa.fa-mobile.concat__icon(aria-hidden='true')
		span.contact__text 6337 3128
	a.contact(href='mailto:info@buisness.co')
		i.fa.fa-envelope.concat__icon.concat__icon--email(aria-hidden='true')
		span.contact__text info@buisness.co
	a.facebook-icon(href='facebook.com')
		i.fa.fa-facebook(aria-hidden='true')