section.form-section
	.container
		.title
			h2.title.title__header Get Your Free Analysists Now
			.title__text Enter your details below
		.btn-down: a.arrow-down: i.fa.fa-angle-down
		.form-container
			form(method='post' action='#').form
				button(type='button').form__close-button x
				.form__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed esse aspernatur minus harum cumque possimus accusamus, blanditiis aliquam aut, cupiditate?
				.form__fields
					input.form__input(type='text' placeholder='Your name')
					input.form__input(type='text' placeholder='Contact number')
					input.form__input(type='text' placeholder='Contact name')
				button(type='submit').button.button--text-uppercase.button--red Submit now